* {
	box-sizing: border-box;
}

html {
	text-align: center;
	font-family: 'Raleway', sans-serif;
  	background-color: #dfe7ff;
}

body {
	margin: 0;
}

h1 {
	font-size: 4em;
	font-weight: 300;
	font-style: italic;
	margin: 0;

}

h2 {
	font-size: 2em;
	font-weight: 700;
	border-bottom: 2px solid #ff0000;
	margin-bottom: 10%;
	display: inline-block;
	color: #072154;
}

p {
	color: #fff;
	line-height: 1.5em;
	text-align: left;
}

.grid {
	display: grid;
	width: 100%;
	grid-template-rows: auto 32em auto auto;
	grid-template-columns: 1fr 1fr;
}



header, .navlinks {
	font-family: 'Open Sans Condensed', sans-serif;	
  	color: #072154;
 }

 header {
 	display: flex;
 }

 header h1 {
 	margin-left: 10%;
 }

 .navlinks {
 	padding: 0;
 	margin: 0;
 	list-style: none;
 	display: flex;
 	align-items: center;
 	justify-content: flex-end;
 	margin-right: 10%;
 	
 }

 .navlinks li {
 	height: 100%;
 	display: flex;
 	align-items: center;
 	font-size: 1.25em;

 }

 .navlinks li a {
 	display: flex;
 	height: 100%;
 	align-items: center;
 	padding: 0 1em;
 	text-decoration: none;
 	color: #ff0000;
 	width: 100%;
 }

 .navlinks li a:hover {
 	color: #072154;
 }

 .dropdown {
 	position: relative;
 }

 .navlinks ul {
 	position: absolute;
 	top:100%;
 	padding: 0;
 	display: none;
 }

 .navlinks ul li a {
 	font-size: 0.5em;
 	background-color: #dfe7ff;
 }

.banner {
	background-image: url("../img/Myeongjiview.jpg");
	background-size: cover;
	background-position: center;
	min-height: 500px;
	grid-column: 1 / span 2;
}

.intro {
	width: 70%;
	position: relative;
	margin: 0 auto;
	top: 27%;
	max-width: 600px;
}


.main {
	background-color: #072154;
	grid-column: 1 / span 2;
}





.feature h2 {
	color: #fff;
	margin-bottom: 5%;
}



.feature {
	position: relative;
	margin: 0 auto;
	width: 70%;
	padding-bottom: 5%;
	max-width: 700px;

}

.projects {
	display: grid;
	width: 90%;
	height: auto;
	margin: 0 auto;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1em 1em;
	justify-content: end;
	line-height: 0;
	padding-bottom: 5%;
}

.project {
	max-width: 300px;
	margin: 0 auto;
	border: 2px solid #fff;
}

img {
	width: 100%;
	height: auto;
}

.button {
	margin: 2em auto;
	padding: 0.5em 3em;
	border-radius: 5px;
	font-size: 1.5em;
	font-weight: 300;
	color: #ff0000;
	background-color: #dfe7ff;
	border: 2px solid #fff;
}

.button:hover {
	color: #072154;
	border: 2px solid #ff0000;
}

footer {
	width: 90%;
	padding: 0 5%;
	font-family: 'Open Sans Condensed', sans-serif;	
  	color: #072154;
  	grid-column: 1 / span 2;
  	display: flex;
  	justify-content: space-between;
}

footer ul {
	padding: 0;
}

footer ul li {
	list-style: none;
}

@media only screen and (max-width: 768px) {

	.grid {
		grid-template-rows: auto auto 32em auto auto;
		grid-template-columns: 1fr;
	}

	header, .navlinks {
		grid-column: 1 / span 2;
	}

	header h1, .navlinks {
		margin: 0 auto;
	}

	.projects {
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr;
	}

	footer {
		flex-direction: column-reverse;
	}
}

@media only screen and (max-width: 480px) {
	.projects {
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr;
	}
}