$dark-blue: #072154;
$light-blue: #dfe7ff;
$red: #ff0000;
$white: #ffffff;

* {
	box-sizing: border-box;
}

html {
	text-align: center;
	font-family: 'Raleway', sans-serif;
  	background-image: url("../img/Apartments.jpg");
	background-size: cover;
	background-position: top;
	background-attachment: fixed;
  	color: $dark-blue;
}

body {
	margin: 0;
}

h1 {
	font-size: 4em;
	font-weight: 300;
	font-style: italic;
	margin: 0 0 0 10%;
}

h2 {
	font-size: 2em;
	font-weight: 700;
	border-bottom: 2px solid $red;
	margin-bottom: 10%;
	display: inline-block;
}

p {
	color: $white;
	line-height: 1.5em;
	text-align: left;
}

.grid {
	display: grid;
	width: 100%;
	grid-template-rows: auto auto auto auto;
	grid-template-columns: 1fr 1fr;
}

header, .navlinks, footer {
	font-family: 'Open Sans Condensed', sans-serif;
	display: flex;
	background-color: $light-blue;
}

.navlinks {
	padding: 0;
	margin: 0;
	list-style: none;
	align-items: center;
	justify-content: flex-end;
	padding-right: 10%;

	li {
		height: 100%;
		display: flex;
		align-items: center;
		font-size: 1.25em;
		position: relative;

		a {
			display: flex;
			height: 100%;
			align-items: center;
			padding: 0 1em;
			text-decoration: none;
			color: $red;
			width: 100%;

			&:hover {
				color: $dark-blue;
			}
		}
	}

	#dropdown-menu {
		position: absolute;
		top:100%;
		padding: 0;
		display: none;

		li a {
			font-size: 0.5em;
			background-color: $light-blue;
		}
	}
}

.banner {
	background-image: url("../img/Apartments.jpg");
	background-size: cover;
	background-position: top;
	background-attachment: fixed;
	grid-column: 1 / span 2;
	display: flex;
	justify-content: center;
}

.intro {
	width: 80%;
	margin: 7%;
	padding: 0 1.5em;
	background-color: $light-blue;
	opacity: 0.9;

	p {
		color: $dark-blue;
		font-weight: 800;
		font-size: 1.3em;
		line-height: 1.8em;
	}

	h2 {
		margin-top: 0.5em;
		margin-bottom: 0;
	}
}

.main {
	background-color: $dark-blue;
	grid-column: 1 / span 2;
	width: 80%;
	margin: 0 auto;
}

.feature {
	position: relative;
	margin: 0 auto;
	width: 70%;
	padding-bottom: 5%;
	max-width: 600px;

	h2 {
		color: $white;
		margin-bottom: 5%;
	}
}

.projects {
	display: flex;
	width: 90%;
	height: auto;
	margin: 0 auto;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1em 1em;
	justify-content: end;
	line-height: 0;
	padding-bottom: 5%;
}

.project {
	max-width: 500px;
	margin: 0 auto;
	border: 2px solid $white;

	&:hover {
		border: 2px solid $red;
	}
}

img {
	width: 100%;
	height: 100%;
}

.button {
		margin: 0 auto 5em auto;
		padding: 0;
		border-radius: 5px;
		background-color: $light-blue;
		border: 2px solid $white;

		a {
			display: block;
			width: 100%;
			height: 100%;
			padding: 0.5em 3em;
			color: $red;
			text-decoration: none;
			font-size: 2.5em;
			font-weight: 300;
			
		}

		&:hover {
				color: $dark-blue;
				border: 2px solid $red;
			}
}

footer {
	padding: 0 5%;	
  	grid-column: 1 / span 2;
  	justify-content: space-between;

  	ul {
		padding: 0;

		li {
			list-style: none;
		}
	}
}

@media only screen and (max-width: 768px) {

	.grid {
		grid-template-rows: auto auto 32em auto auto;
		grid-template-columns: 1fr;
	}

	header, .navlinks {
		grid-column: 1 / span 2;
		justify-content: center;
		padding-right: 0;
	}

	h1 {
		margin: 0 auto;
	}

	.projects {
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr;
	}

	footer {
		flex-direction: column-reverse;
	}
}

@media only screen and (max-width: 650px) {

	.intro {

		p {
			font-size: 1.2em;
		}
	}
}

@media only screen and (max-width: 480px) {

	.projects {
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr;
	}

	.intro {
		
		p {
			font-size: 1.1em;
		}
	}
}
