$grey: #cccdce;
$white: #fff;
$offblack: #31363d;

* {
	box-sizing: border-box;
}

body {
	height: auto;
	background-color: $grey;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0; 
}

header {
	text-transform: uppercase;
	text-align: center;
	color: $offblack;
	background-color: $white;
	margin: 0;

	h1 {
		display: inline-block;
		padding: 0.75em;
	}

}

nav {
	

	ul {
		list-style: none;
		text-align: center;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			margin: 1.5em 0.75em 2.5em 0.75em;

			a {
				display: block;
				text-decoration: none;
				color: $white;
				text-transform: uppercase;
				transition: color 0.5s;

				&:hover {
					color: $offblack;
					transition: color 1s;
				}
			}
		}
	}
}

section {
	height: auto;
	font-size: 0;
	text-align: center;

	.box {
		display: inline-block;
		margin: 10px;
		max-width: 400px;
		min-width: 250px;
		border: 1px solid $white;

		img {
			width: 100%;
		}
	}
}

footer {
	text-align: right;
	padding-bottom: 3em;

	p {
		display: inline-block;
		margin: 2em 4em;
		text-transform: uppercase;
		font-size: 0.75em;
	}
}