* {
  box-sizing: border-box;
}

html {
  text-align: center;
  font-family: "Raleway", sans-serif;
  background-color: #dfe7ff;
  color: #072154;
}

body {
  margin: 0;
}

h1 {
  font-size: 4em;
  font-weight: 300;
  font-style: italic;
  margin: 0 0 0 10%;
}

h2 {
  font-size: 2em;
  font-weight: 700;
  border-bottom: 2px solid #ff0000;
  margin-bottom: 10%;
  display: inline-block;
}

p {
  color: #ffffff;
  line-height: 1.5em;
  text-align: left;
}

.grid {
  display: grid;
  width: 100%;
  grid-template-rows: auto 32em auto auto;
  grid-template-columns: 1fr 1fr;
}

header, .navlinks, footer {
  font-family: "Open Sans Condensed", sans-serif;
  display: flex;
}

.navlinks {
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10%;
}
.navlinks li {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 1.25em;
  position: relative;
}
.navlinks li a {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1em;
  text-decoration: none;
  color: #ff0000;
  width: 100%;
}
.navlinks li a:hover {
  color: #072154;
}
.navlinks #dropdown-menu {
  position: absolute;
  top: 100%;
  padding: 0;
  display: none;
}
.navlinks #dropdown-menu li a {
  font-size: 0.5em;
  background-color: #dfe7ff;
}

.banner {
  background-image: url("../img/Myeongjiview.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 1/span 2;
}

.intro {
  width: 70%;
  position: relative;
  margin: 0 auto;
  top: 27%;
  max-width: 600px;
}

.main {
  background-color: #072154;
  grid-column: 1/span 2;
}

.feature {
  position: relative;
  margin: 0 auto;
  width: 70%;
  padding-bottom: 5%;
  max-width: 600px;
}
.feature h2 {
  color: #ffffff;
  margin-bottom: 5%;
}

.projects {
  display: grid;
  width: 90%;
  height: auto;
  margin: 0 auto;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em 1em;
  line-height: 0;
  padding-bottom: 5%;
}

.project {
  max-width: 300px;
  margin: 0 auto;
  border: 2px solid #ffffff;
}
.project:hover {
  border: 2px solid #ff0000;
}

img {
  width: 100%;
  height: 100%;
}

.button {
  margin: 0 auto 5em auto;
  padding: 0;
  border-radius: 5px;
  background-color: #dfe7ff;
  border: 2px solid #ffffff;
}
.button a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0.5em 3em;
  color: #ff0000;
  text-decoration: none;
  font-size: 2.5em;
  font-weight: 300;
}
.button:hover {
  color: #072154;
  border: 2px solid #ff0000;
}

footer {
  padding: 0 5%;
  grid-column: 1/span 2;
  justify-content: space-between;
}
footer ul {
  padding: 0;
}
footer ul li {
  list-style: none;
}

@media only screen and (max-width: 768px) {
  .grid {
    grid-template-rows: auto auto 32em auto auto;
    grid-template-columns: 1fr;
  }

  header, .navlinks {
    grid-column: 1/span 2;
    margin: 0 auto;
  }

  h1 {
    margin: 0 auto;
  }

  .projects {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  footer {
    flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 480px) {
  .projects {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=style.css.map */
